/*—————————————————————————————————————————————————*/
/*——————————————————— WWW.SUPER.SO ————————————————*/
/*—————————————— © SUPER PUBLISHING CO ————————————*/
/*—————————————————————————————————————————————————*/

@import "reset.css";
@import "theme.css";
@import "content.css";
@import "hidden.css";
@import "typography.css";


/* 갤러리 카드 컨테이너 */
.notion-collection-gallery {
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 30px !important;
  margin: 80px 0 !important;
  padding: 0 !important;
  border: none !important;
}

/* 갤러리 카드 */
.notion-collection-gallery .notion-collection-card {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
  overflow: hidden !important;
  box-shadow: none !important;
}

/* 카드 이미지 위 그라데이션 효과 */
.notion-collection-gallery .notion-collection-card:before {
  content: "" !important;
  position: absolute !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 40%) !important;
  pointer-events: none !important;
  z-index: 1 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

/* 카드 커버 이미지 */
.notion-collection-gallery .notion-collection-card__cover img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

/* 카드 제목 */
.notion-collection-gallery .notion-collection-card .notion-property__title {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  padding: 24px 30px !important;
  font-size: 20px !important;
  color: #fff !important;
  z-index: 2 !important;
  max-width: 400px !important;
}

/* 반응형 설정 */
@media (max-width: 856px) {
  .notion-collection-gallery {
    grid-template-columns: 1fr !important; /* 1열로 변경 */
  }
}

